@font-face {
    src: url(../assets/fonts/KenneyMiniSquare.ttf);
    font-family: pixelFont;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: pixelFont;
    color: #fff;
    background-color: #302E3B;
}

h1 {
    font-size: 56px;
    margin: 10px 0;
    padding: 10px 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-btn {
    font-family: pixelFont;
    font-size: 24px;
    width: 100px;
    margin: 10px;
    padding: 20px 10px;
    color: white;
    background-color: #212f3c;
    border: none;
}

.start-btn:hover {
    background-color: #2e4053;
}